# [hiper_card5]

In [0]:
USE [master]
GO

In [0]:
/****** Object:  Database [hiper_card5]    Script Date: 4/11/2025 00:05:26 ******/
CREATE DATABASE [hiper_card5]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'hiper_card5', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\hiper_card5.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'hiper_card5_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\hiper_card5_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
ALTER DATABASE [hiper_card5] SET COMPATIBILITY_LEVEL = 160
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [hiper_card5].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
ALTER DATABASE [hiper_card5] SET ANSI_NULL_DEFAULT OFF 
GO
ALTER DATABASE [hiper_card5] SET ANSI_NULLS OFF 
GO
ALTER DATABASE [hiper_card5] SET ANSI_PADDING OFF 
GO
ALTER DATABASE [hiper_card5] SET ANSI_WARNINGS OFF 
GO
ALTER DATABASE [hiper_card5] SET ARITHABORT OFF 
GO
ALTER DATABASE [hiper_card5] SET AUTO_CLOSE OFF 
GO
ALTER DATABASE [hiper_card5] SET AUTO_SHRINK OFF 
GO
ALTER DATABASE [hiper_card5] SET AUTO_UPDATE_STATISTICS ON 
GO
ALTER DATABASE [hiper_card5] SET CURSOR_CLOSE_ON_COMMIT OFF 
GO
ALTER DATABASE [hiper_card5] SET CURSOR_DEFAULT  GLOBAL 
GO
ALTER DATABASE [hiper_card5] SET CONCAT_NULL_YIELDS_NULL OFF 
GO
ALTER DATABASE [hiper_card5] SET NUMERIC_ROUNDABORT OFF 
GO
ALTER DATABASE [hiper_card5] SET QUOTED_IDENTIFIER OFF 
GO
ALTER DATABASE [hiper_card5] SET RECURSIVE_TRIGGERS OFF 
GO
ALTER DATABASE [hiper_card5] SET  DISABLE_BROKER 
GO
ALTER DATABASE [hiper_card5] SET AUTO_UPDATE_STATISTICS_ASYNC OFF 
GO
ALTER DATABASE [hiper_card5] SET DATE_CORRELATION_OPTIMIZATION OFF 
GO
ALTER DATABASE [hiper_card5] SET TRUSTWORTHY OFF 
GO
ALTER DATABASE [hiper_card5] SET ALLOW_SNAPSHOT_ISOLATION OFF 
GO
ALTER DATABASE [hiper_card5] SET PARAMETERIZATION SIMPLE 
GO
ALTER DATABASE [hiper_card5] SET READ_COMMITTED_SNAPSHOT OFF 
GO
ALTER DATABASE [hiper_card5] SET HONOR_BROKER_PRIORITY OFF 
GO
ALTER DATABASE [hiper_card5] SET RECOVERY SIMPLE 
GO
ALTER DATABASE [hiper_card5] SET  MULTI_USER 
GO
ALTER DATABASE [hiper_card5] SET PAGE_VERIFY CHECKSUM  
GO
ALTER DATABASE [hiper_card5] SET DB_CHAINING OFF 
GO
ALTER DATABASE [hiper_card5] SET FILESTREAM( NON_TRANSACTED_ACCESS = OFF ) 
GO
ALTER DATABASE [hiper_card5] SET TARGET_RECOVERY_TIME = 60 SECONDS 
GO
ALTER DATABASE [hiper_card5] SET DELAYED_DURABILITY = DISABLED 
GO
ALTER DATABASE [hiper_card5] SET ACCELERATED_DATABASE_RECOVERY = OFF  
GO
ALTER DATABASE [hiper_card5] SET QUERY_STORE = ON
GO
ALTER DATABASE [hiper_card5] SET QUERY_STORE (OPERATION_MODE = READ_WRITE, CLEANUP_POLICY = (STALE_QUERY_THRESHOLD_DAYS = 30), DATA_FLUSH_INTERVAL_SECONDS = 900, INTERVAL_LENGTH_MINUTES = 60, MAX_STORAGE_SIZE_MB = 1000, QUERY_CAPTURE_MODE = AUTO, SIZE_BASED_CLEANUP_MODE = AUTO, MAX_PLANS_PER_QUERY = 200, WAIT_STATS_CAPTURE_MODE = ON)
GO

# [dbo].[Categorias]

In [0]:
USE [hiper_card5]
GO

In [0]:
/****** Object:  Table [dbo].[Categorias]    Script Date: 4/11/2025 00:05:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categorias](
	[id_categoria] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_categoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[Detalle_ventas]

In [0]:
/****** Object:  Table [dbo].[Detalle_ventas]    Script Date: 4/11/2025 00:05:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Detalle_ventas](
	[id_detalle] [int] IDENTITY(1,1) NOT NULL,
	[id_venta] [int] NOT NULL,
	[id_producto] [int] NOT NULL,
	[cantidad] [int] NOT NULL,
	[precio_unitario] [decimal](10, 2) NOT NULL,
	[subtotal] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_detalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[Envios]

In [0]:
/****** Object:  Table [dbo].[Envios]    Script Date: 4/11/2025 00:05:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Envios](
	[id_envio] [int] IDENTITY(1,1) NOT NULL,
	[direccion] [varchar](50) NOT NULL,
	[num_telefono] [int] NOT NULL,
	[CP] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_envio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[Pagos]

In [0]:
/****** Object:  Table [dbo].[Pagos]    Script Date: 4/11/2025 00:05:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pagos](
	[id_pago] [int] IDENTITY(1,1) NOT NULL,
	[Tipo_pago] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_pago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[Productos]

In [0]:
/****** Object:  Table [dbo].[Productos]    Script Date: 4/11/2025 00:05:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productos](
	[id_producto] [int] IDENTITY(1,1) NOT NULL,
	[precio] [decimal](10, 2) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[stock] [int] NOT NULL,
	[descripcion] [varchar](700) NOT NULL,
	[id_categoria] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[Roles]

In [0]:
/****** Object:  Table [dbo].[Roles]    Script Date: 4/11/2025 00:05:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[id_rol] [int] NOT NULL,
	[rol] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_rol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[Usuarios]

In [0]:
/****** Object:  Table [dbo].[Usuarios]    Script Date: 4/11/2025 00:05:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[id_usuario] [int] IDENTITY(1,1) NOT NULL,
	[nombre_usuario] [varchar](30) NOT NULL,
	[contraseña] [varchar](255) NOT NULL,
	[email] [varchar](40) NOT NULL,
	[nombre] [varchar](40) NOT NULL,
	[apellido] [varchar](40) NOT NULL,
	[id_rol] [int] NOT NULL,
	[foto_perfil] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[Ventas]

In [0]:
/****** Object:  Table [dbo].[Ventas]    Script Date: 4/11/2025 00:05:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ventas](
	[id_venta] [int] IDENTITY(1,1) NOT NULL,
	[id_usuario] [int] NOT NULL,
	[id_envio] [int] NOT NULL,
	[id_pago] [int] NOT NULL,
	[fecha] [datetime] NULL,
	[total] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_venta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[Categorias]

In [0]:
SET IDENTITY_INSERT [dbo].[Categorias] ON 
INSERT [dbo].[Categorias] ([id_categoria], [nombre]) VALUES (1, N'carnes')
INSERT [dbo].[Categorias] ([id_categoria], [nombre]) VALUES (2, N'lacteos')
INSERT [dbo].[Categorias] ([id_categoria], [nombre]) VALUES (3, N'snacks')
INSERT [dbo].[Categorias] ([id_categoria], [nombre]) VALUES (4, N'bebidas')
INSERT [dbo].[Categorias] ([id_categoria], [nombre]) VALUES (5, N'limpieza')
INSERT [dbo].[Categorias] ([id_categoria], [nombre]) VALUES (6, N'golosinas')
INSERT [dbo].[Categorias] ([id_categoria], [nombre]) VALUES (7, N'frutas')
SET IDENTITY_INSERT [dbo].[Categorias] OFF
GO

# [dbo].[Detalle_ventas]

In [0]:
SET IDENTITY_INSERT [dbo].[Detalle_ventas] ON 
INSERT [dbo].[Detalle_ventas] ([id_detalle], [id_venta], [id_producto], [cantidad], [precio_unitario], [subtotal]) VALUES (1, 1, 12, 5, CAST(1000.98 AS Decimal(10, 2)), CAST(5004.90 AS Decimal(10, 2)))
INSERT [dbo].[Detalle_ventas] ([id_detalle], [id_venta], [id_producto], [cantidad], [precio_unitario], [subtotal]) VALUES (2, 2, 22, 4, CAST(1500.00 AS Decimal(10, 2)), CAST(6000.00 AS Decimal(10, 2)))
INSERT [dbo].[Detalle_ventas] ([id_detalle], [id_venta], [id_producto], [cantidad], [precio_unitario], [subtotal]) VALUES (3, 3, 15, 2, CAST(1200.00 AS Decimal(10, 2)), CAST(2400.00 AS Decimal(10, 2)))
INSERT [dbo].[Detalle_ventas] ([id_detalle], [id_venta], [id_producto], [cantidad], [precio_unitario], [subtotal]) VALUES (4, 3, 10, 2, CAST(1600.00 AS Decimal(10, 2)), CAST(3200.00 AS Decimal(10, 2)))
INSERT [dbo].[Detalle_ventas] ([id_detalle], [id_venta], [id_producto], [cantidad], [precio_unitario], [subtotal]) VALUES (5, 3, 21, 1, CAST(2700.00 AS Decimal(10, 2)), CAST(2700.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Detalle_ventas] OFF
GO

# [dbo].[Envios]

In [0]:
SET IDENTITY_INSERT [dbo].[Envios] ON 
INSERT [dbo].[Envios] ([id_envio], [direccion], [num_telefono], [CP]) VALUES (1, N'paso 129', 21156546, 121)
INSERT [dbo].[Envios] ([id_envio], [direccion], [num_telefono], [CP]) VALUES (2, N'paso 129', 21156546, 121)
INSERT [dbo].[Envios] ([id_envio], [direccion], [num_telefono], [CP]) VALUES (3, N'paso 129', 21156546, 121)
SET IDENTITY_INSERT [dbo].[Envios] OFF
GO

# [dbo].[Pagos]

In [0]:
SET IDENTITY_INSERT [dbo].[Pagos] ON 
INSERT [dbo].[Pagos] ([id_pago], [Tipo_pago]) VALUES (1, N'debito')
INSERT [dbo].[Pagos] ([id_pago], [Tipo_pago]) VALUES (2, N'credito')
INSERT [dbo].[Pagos] ([id_pago], [Tipo_pago]) VALUES (3, N'transferencia')
SET IDENTITY_INSERT [dbo].[Pagos] OFF
GO

# [dbo].[Productos]

In [0]:
SET IDENTITY_INSERT [dbo].[Productos] ON 
INSERT [dbo].[Productos] ([id_producto], [precio], [nombre], [stock], [descripcion], [id_categoria]) VALUES (1, CAST(1000.00 AS Decimal(10, 2)), N'Leche clasica', 15, N'1 litro 1. leche Clásica serenísima,  está fortificada con vitaminas A y D, tiene un tenor graso del 3% y es apta para celíacos.', 2)
INSERT [dbo].[Productos] ([id_producto], [precio], [nombre], [stock], [descripcion], [id_categoria]) VALUES (2, CAST(5000.00 AS Decimal(10, 2)), N'Asado', 7, N'Tira de asado de 1 kg. Carne de vaca 100% vacunado', 1)
INSERT [dbo].[Productos] ([id_producto], [precio], [nombre], [stock], [descripcion], [id_categoria]) VALUES (3, CAST(300.25 AS Decimal(10, 2)), N'Tita', 30, N'envase 19grs. Tita es una galleta de oblea rellena con crema sabor limón y bañada en chocolate semiamargo.', 6)
INSERT [dbo].[Productos] ([id_producto], [precio], [nombre], [stock], [descripcion], [id_categoria]) VALUES (4, CAST(644.00 AS Decimal(10, 2)), N'Agua Villavicencio 500ml', 15, N'Botella de villavicencio, envase de plastico de 500ml de agua mineral y sin gas', 4)
INSERT [dbo].[Productos] ([id_producto], [precio], [nombre], [stock], [descripcion], [id_categoria]) VALUES (5, CAST(5000.00 AS Decimal(10, 2)), N'Pepas TRIO', 5, N'Envase 200Gr. Pepas TRIO hecho con Harina de trigo tipo 000, mermelada de membrillo, ARO (a membrillo), COL (INS 129)), azúcar, oleomargarina bovina, almidón de maíz,leche entera en polvo, ARO (a vainilla), RAI (INS 503ii), EMU (INS 322), COL (INS 100i e INS 160b).', 3)
INSERT [dbo].[Productos] ([id_producto], [precio], [nombre], [stock], [descripcion], [id_categoria]) VALUES (6, CAST(1200.00 AS Decimal(10, 2)), N'Macucas', 4, N'galleta sabor chocolate', 3)
INSERT [dbo].[Productos] ([id_producto], [precio], [nombre], [stock], [descripcion], [id_categoria]) VALUES (7, CAST(2500.00 AS Decimal(10, 2)), N'Pollo', 3, N'pollo entero venido de la granja, incluye partes de pechuga, muslos, alas y patas(mentira es paloma)', 1)
INSERT [dbo].[Productos] ([id_producto], [precio], [nombre], [stock], [descripcion], [id_categoria]) VALUES (8, CAST(1700.50 AS Decimal(10, 2)), N'Uva verde', 8, N'Un kilo de uva de color verde', 7)
INSERT [dbo].[Productos] ([id_producto], [precio], [nombre], [stock], [descripcion], [id_categoria]) VALUES (9, CAST(1450.00 AS Decimal(10, 2)), N'Tortitas black', 6, N'Envase 125Gr. Las Tortitas Black son un snack dulce de la marca Arcor que se caracteriza por su sabor a chocolate y vainilla', 3)
INSERT [dbo].[Productos] ([id_producto], [precio], [nombre], [stock], [descripcion], [id_categoria]) VALUES (10, CAST(1600.00 AS Decimal(10, 2)), N'Pepitos white', 18, N'envase 118gr. Pepitos White, galletitas dulces con masa de chocolate y perlitas de chocolate blanco', 3)
INSERT [dbo].[Productos] ([id_producto], [precio], [nombre], [stock], [descripcion], [id_categoria]) VALUES (11, CAST(875.00 AS Decimal(10, 2)), N'Don satur bizcocho negrito', 5, N'Envase de 200gr. Bizcochitos Negritos son agridulces y cubiertos con azúcar negra', 3)
INSERT [dbo].[Productos] ([id_producto], [precio], [nombre], [stock], [descripcion], [id_categoria]) VALUES (12, CAST(1000.98 AS Decimal(10, 2)), N'9 de oro cara sucia', 53, N'envase de 200G. sabor chocolate', 3)
INSERT [dbo].[Productos] ([id_producto], [precio], [nombre], [stock], [descripcion], [id_categoria]) VALUES (13, CAST(1900.25 AS Decimal(10, 2)), N'Chocolinas negro', 43, N'envase 258. Las Chocolinas Negro son galletas dulces con un intenso sabor a chocolate negro, crujientes y perfectas para preparar postres y meriendas', 3)
INSERT [dbo].[Productos] ([id_producto], [precio], [nombre], [stock], [descripcion], [id_categoria]) VALUES (14, CAST(2300.00 AS Decimal(10, 2)), N'Coca cola 2L', 63, N'envase 2L. Coca Cola clasica es una bebida gaseosa, carbonatada y sin alcohol', 4)
INSERT [dbo].[Productos] ([id_producto], [precio], [nombre], [stock], [descripcion], [id_categoria]) VALUES (15, CAST(1200.00 AS Decimal(10, 2)), N'Pepsi', 63, N'envase 354ML. sabor original, hecho con Agua carbonatada, azúcar, colorante, aromas (contiene cafeína), acidulante y edulcorantes', 4)
INSERT [dbo].[Productos] ([id_producto], [precio], [nombre], [stock], [descripcion], [id_categoria]) VALUES (16, CAST(2350.00 AS Decimal(10, 2)), N'Fanta 1,5L', 13, N'envase 1,5L. Fanta es una bebida gaseosa con sabor a naranja y un toque frutal', 4)
INSERT [dbo].[Productos] ([id_producto], [precio], [nombre], [stock], [descripcion], [id_categoria]) VALUES (17, CAST(3300.00 AS Decimal(10, 2)), N'Sprite zero 2,25L', 25, N'envase 2,25L. Sprite Zero es una bebida gaseosa con sabor a limón y es sin azúcar.', 4)
INSERT [dbo].[Productos] ([id_producto], [precio], [nombre], [stock], [descripcion], [id_categoria]) VALUES (18, CAST(2500.00 AS Decimal(10, 2)), N'Monster mango loco', 20, N'envase 473ML. Es una bebida energizante, afrutada con presencia de mango maduro y fruta tropical.', 4)
INSERT [dbo].[Productos] ([id_producto], [precio], [nombre], [stock], [descripcion], [id_categoria]) VALUES (19, CAST(2500.00 AS Decimal(10, 2)), N'Monster original', 9, N'envase 473ML. Es una bebida energizante, sabor dulce y salado con un toque cítrico. SABE A MONSTRUO', 4)
INSERT [dbo].[Productos] ([id_producto], [precio], [nombre], [stock], [descripcion], [id_categoria]) VALUES (20, CAST(2500.00 AS Decimal(10, 2)), N'Monster white', 14, N'envase 473ML. Es una bebida energizante sin azúcar con energía, sabor cítrico ligero y refrescante.', 4)
INSERT [dbo].[Productos] ([id_producto], [precio], [nombre], [stock], [descripcion], [id_categoria]) VALUES (21, CAST(2700.00 AS Decimal(10, 2)), N'Monster Pipeline Punch', 52, N'envase 473ML. Es una bebida energizante, sabor de una mezcla carbonatada perfecta de maracuyá, naranja, guayaba y nuestra mezcla Monster Energy.', 4)
INSERT [dbo].[Productos] ([id_producto], [precio], [nombre], [stock], [descripcion], [id_categoria]) VALUES (22, CAST(1500.00 AS Decimal(10, 2)), N'Manaos', 52, N'envase 2.25L. Sabor clásico a cola, con notas de cafeína y caramelo.', 4)
INSERT [dbo].[Productos] ([id_producto], [precio], [nombre], [stock], [descripcion], [id_categoria]) VALUES (23, CAST(850.00 AS Decimal(10, 2)), N'Trompis', 1000, N'envase 2.25L. Sabor cola clasica. La trompis es una bebida gaseosa argentina, popularmente conocida por la gente de la villa ya que allá no llega la agua portable y lo único para tomar es la trompis.', 4)
INSERT [dbo].[Productos] ([id_producto], [precio], [nombre], [stock], [descripcion], [id_categoria]) VALUES (24, CAST(9000.00 AS Decimal(10, 2)), N'Bife ancho', 17, N'1KG. El bife ancho es un corte de carne argentino que se obtiene de la parte trasera del animal, específicamente del dorso, a la altura de las costillas.', 1)
INSERT [dbo].[Productos] ([id_producto], [precio], [nombre], [stock], [descripcion], [id_categoria]) VALUES (25, CAST(1800.00 AS Decimal(10, 2)), N'Banana 1KG', 20, N'La banana es un fruto con cualidades variables en tamaño, color y firmeza, alargado, generalmente curvado y carnoso, rico en almidón, cubierto con una cáscara, que puede ser verde, amarilla, o marrón cuando está madura.', 7)
INSERT [dbo].[Productos] ([id_producto], [precio], [nombre], [stock], [descripcion], [id_categoria]) VALUES (26, CAST(100.00 AS Decimal(10, 2)), N'Fulbito', 14, N'envase 30gr. Los alfajores de chocolate Fulbito es una golosina que combinan el sabor a chocolate con una textura suave y relleno irresistible.', 6)
INSERT [dbo].[Productos] ([id_producto], [precio], [nombre], [stock], [descripcion], [id_categoria]) VALUES (27, CAST(1111.11 AS Decimal(10, 2)), N'Mamon tostado', 14, N'envase 100gr. Mamon tostado son tostadas para gente mamon.', 3)
INSERT [dbo].[Productos] ([id_producto], [precio], [nombre], [stock], [descripcion], [id_categoria]) VALUES (28, CAST(2500.00 AS Decimal(10, 2)), N'Queso Roquefort', 32, N' 1 x KG. El queso Roquefort es un tipo de queso azul francés, famoso por su sabor fuerte, salado y picante, con vetas de moho azul. Elaborado con leche de oveja cruda y su textura es cremosa y suave, con un exterior comestible ligeramente salado. ', 2)
INSERT [dbo].[Productos] ([id_producto], [precio], [nombre], [stock], [descripcion], [id_categoria]) VALUES (29, CAST(2238.72 AS Decimal(10, 2)), N'Serenito la copa', 1, N'envase 100gr. Serenito "La Copa" es un postre de la marca Serenito, específicamente diseñado para ser consumido en una copa. Se caracteriza por ser un postre cremoso, generalmente de sabor a vainilla, que puede venir con adiciones como confites de chocolate para mezclar.', 2)
INSERT [dbo].[Productos] ([id_producto], [precio], [nombre], [stock], [descripcion], [id_categoria]) VALUES (30, CAST(2135.00 AS Decimal(10, 2)), N'Danette Chocolate y crema', 10, N'envase 100gr. DANETTE copa, dulce de leche con crema. Danetizate con su increíble textura, que combina el riquísimo sabor de Danette con la deliciosa crema aireada. Imposible pensar en nada más. Estás para algo dulce, estás para un Danette. COPA 100gr. Postre sabor a dulce de leche con crema fortificado con zinc y vitaminas A, B3, D y ácido fólico libre de gluten. Sin TACC.', 2)
INSERT [dbo].[Productos] ([id_producto], [precio], [nombre], [stock], [descripcion], [id_categoria]) VALUES (31, CAST(600.00 AS Decimal(10, 2)), N'Pañuelo elite', 6, N'Pedazo de tela pequeño, generalmente cuadrado, que sirve para limpiarse la nariz o el sudor y para otras cosas.', 5)
SET IDENTITY_INSERT [dbo].[Productos] OFF
GO

# [dbo].[Roles]

In [0]:
INSERT [dbo].[Roles] ([id_rol], [rol]) VALUES (1, N'Empleado')
INSERT [dbo].[Roles] ([id_rol], [rol]) VALUES (2, N'Cliente')
GO

# [dbo].[Usuarios]

In [0]:
SET IDENTITY_INSERT [dbo].[Usuarios] ON 
INSERT [dbo].[Usuarios] ([id_usuario], [nombre_usuario], [contraseña], [email], [nombre], [apellido], [id_rol], [foto_perfil]) VALUES (1, N'cliente_prueba', N'password', N'willy', N'rex', N'nuevo@gmail.com', 2, NULL)
INSERT [dbo].[Usuarios] ([id_usuario], [nombre_usuario], [contraseña], [email], [nombre], [apellido], [id_rol], [foto_perfil]) VALUES (2, N'empleado_prueba', N'5678', N'jhon', N'smith', N'nuevoempleado@gmail.com', 1, NULL)
INSERT [dbo].[Usuarios] ([id_usuario], [nombre_usuario], [contraseña], [email], [nombre], [apellido], [id_rol], [foto_perfil]) VALUES (1002, N'adachi', N'$2y$10$SXsjxbbcmAQyqhnO0Si8c.OEtheRxTFjPo8F8/ZVCY/NpDMT/ozIy', N'adachi@gmail.com', N'tohru', N'adachi', 1, N'https://res.cloudinary.com/hipercard/image/upload/v1762177016/uptfaybbuzvlma2rpyoh.jpg')
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO

# [dbo].[Ventas]

In [0]:
SET IDENTITY_INSERT [dbo].[Ventas] ON 
INSERT [dbo].[Ventas] ([id_venta], [id_usuario], [id_envio], [id_pago], [fecha], [total]) VALUES (1, 1002, 1, 2, CAST(N'2025-11-03T17:19:08.000' AS DateTime), CAST(5004.90 AS Decimal(10, 2)))
INSERT [dbo].[Ventas] ([id_venta], [id_usuario], [id_envio], [id_pago], [fecha], [total]) VALUES (2, 1002, 2, 2, CAST(N'2025-11-03T17:26:15.290' AS DateTime), CAST(6000.00 AS Decimal(10, 2)))
INSERT [dbo].[Ventas] ([id_venta], [id_usuario], [id_envio], [id_pago], [fecha], [total]) VALUES (3, 1002, 3, 2, CAST(N'2025-11-03T17:51:54.010' AS DateTime), CAST(8300.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Ventas] OFF
GO

# [DF__Ventas__fecha__44FF419A]

In [0]:
ALTER TABLE [dbo].[Ventas] ADD  DEFAULT (getdate()) FOR [fecha]
GO

# [FK__Detalle_v__id_pr__4BAC3F29]

In [0]:
ALTER TABLE [dbo].[Detalle_ventas]  WITH CHECK ADD FOREIGN KEY([id_producto])
REFERENCES [dbo].[Productos] ([id_producto])
GO

# [FK__Detalle_v__id_ve__4AB81AF0]

In [0]:
ALTER TABLE [dbo].[Detalle_ventas]  WITH CHECK ADD FOREIGN KEY([id_venta])
REFERENCES [dbo].[Ventas] ([id_venta])
GO

# [FK__Productos__id_ca__3E52440B]

In [0]:
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD FOREIGN KEY([id_categoria])
REFERENCES [dbo].[Categorias] ([id_categoria])
GO

# [FK__Usuarios__id_rol__398D8EEE]

In [0]:
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD FOREIGN KEY([id_rol])
REFERENCES [dbo].[Roles] ([id_rol])
GO

# [FK__Ventas__id_envio__46E78A0C]

In [0]:
ALTER TABLE [dbo].[Ventas]  WITH CHECK ADD FOREIGN KEY([id_envio])
REFERENCES [dbo].[Envios] ([id_envio])
GO

# [FK__Ventas__id_pago__47DBAE45]

In [0]:
ALTER TABLE [dbo].[Ventas]  WITH CHECK ADD FOREIGN KEY([id_pago])
REFERENCES [dbo].[Pagos] ([id_pago])
GO

# [FK__Ventas__id_usuar__45F365D3]

In [0]:
ALTER TABLE [dbo].[Ventas]  WITH CHECK ADD FOREIGN KEY([id_usuario])
REFERENCES [dbo].[Usuarios] ([id_usuario])
GO

# [hiper_card5]

In [0]:
USE [master]
GO

In [0]:
ALTER DATABASE [hiper_card5] SET  READ_WRITE 
GO